/*/bin/
/*/obj/
/contracts/*/bin/
/contracts/*/obj/
/event-relay/bin/
/event-relay/obj/

# Logs
*.log
*.log.*
ng-serve.err.log
ng-serve.out.log
backend-run.err.log
backend-run.out.log

.env
.env.*
!.env.example
docker-compose.override.yml
/*.md
*/*.md
